<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>The Mindful Self Experiment</title>

    <script src="../../js/jspsych.js"></script>
    <script src="../../js/jquery.min.js"></script>

    <script src="../../js/plugins/jspsych-call-function.js"></script>
    <script src="../../js/plugins/jspsych-fullscreen.js"></script>

    <script src="../../js/plugins/jspsych-instructions.js"></script>

    <script src="../../js/plugins/jspsych-survey-html-form.js"></script>
    <script src="../../js/plugins/jspsych-survey-text.js"></script>
    <script src="../../js/plugins/jspsych-survey-likert.js"></script>

    <script src="../../js/plugins/jspsych-html-button-response.js"></script>
    <script src="../../js/plugins/jspsych-html-keyboard-response.js"></script>

    <script src="../../js/plugins/jspsych-video-keyboard-response.js"></script>

    <script src="../src/utils.js"></script>
    <script src="../src/test_welcome.js"></script>

    <script src="../src/questionnaire_items.js"></script>
    <script src="../src/questionnaire.js"></script>

    <script src="../src/experiment.js"></script>
    <script src="../src/exp_FIST_stimuli.js"></script>
    <script src="../src/exp_FIST.js"></script>
    <script src="../src/exp_BC.js"></script>
    <script src="../src/exp_AUT.js"></script>
    <script src="../src/exp_SESIAT.js"></script>

    <link rel="stylesheet" href="../css/jspsych.css" type="text/css"/>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>

</head>
<body>
<div id="welcome"></div>
</body>
<script>


    // function startExperiment() {
    //
    //     /* start the experiment */
    //     jsPsych.init({
    //         show_progress_bar: true,
    //         on_interaction_data_update: function(data) {
    //             var trial = jsPsych.currentTrial();
    //             trial.data.screen_focus = data.event;
    //         },
    //
    //         timeline: [
    //             // ...maia_block
    //             // ...post_bc_block1, ...post_bc_block2, ...sms_block, ...aes_block,
    //             // ...bc_exp, ...aes_block, ...ffmq_block,
    //             // ...FIST_block, ...fadplus_block, ...pss_block,
    //             // ...aut_block, ...panas_block,
    //             ...sesiat_block
    //             ],
    //
    //         /* on_close currently not working */
    //         on_close: function() {
    //
    //             $.ajax({
    //                 type: "POST",
    //                 url: "/experiment-data",
    //                 data: JSON.stringify(jsPsych.data.get().values()),
    //                 contentType: "application/json"
    //             })
    //             // jsPsych.data.displayData()
    //         },
    //
    //         on_finish: function() {
    //             console.log("posting data")
    //             // $.ajax({
    //             //     type: "POST",
    //             //     url: "/experiment-data",
    //             //     data: JSON.stringify(jsPsych.data.get().values()),
    //             //     contentType: "application/json"
    //             // })
    //             //     .done(function() {
    //             //         window.location.href = "finish";
    //             //     })
    //             //     .fail(function() {
    //             //         alert("Problem occurred while writing data to Dropbox. " +
    //             //             "Data will be saved to your computer. " +
    //             //             "Please contact the experimenter regarding this issue!");
    //             //         var csv = jsPsych.data.get().csv();
    //             //         var filename = jsPsych.data.get().values()[0].part_ID + "_" + DATE + ".csv";
    //             //         downloadCSV(csv, filename);
    //             //         window.location.href = "finish";
    //             //     });
    //             jsPsych.data.displayData()
    //         }
    //     });
    // }
    //
    // startExperiment();
    welcome.run()

</script>
</html>
