.page p {
  margin: 0;
  padding-bottom: .2em;
}

.display_stage {
  background-color: black;
  color: white;
  box-shadow: none;
}

.display_stage_background {
	background-color: black;
}


.jspsych-display-element {
    background-color: black;
    color: white;
    box-shadow: none;
}
label.jspsych-survey-likert-opt-label {
    color: #dddddd;
}

/* Breath-coutning instructions */
table, th, tr, td {
    font-size: 24px;
    padding: .5em;
    border: 1px solid black;
}

.bc_start {
    font-size: 24px;
}

.continue_next {
    font-size: 24px;
}

/* FIST task */
.FIST_stimHeader {
    font-weight: bold;
    font-size: 24px;
}

.FIST_feedback {
    font-size: 42px;
}

/* AUT task */
.AUTstimHeader {
    font-size: 24px;
}

.AUTstim {
    font-size: 24px;
    font-weight: bold;
  }

/* Go NoGo */

.GNGcolumn {
    float: left;
    width: 30%;
    padding: 1px;
}

/* Clear floats after image containers */
.GNGrow::after {
    content: "";
    clear: both;
    display: table;
}

.gng_feedback {
    font-size: 42px;
}

/* SES-IAT */
.row {
    display: flex;
    width: 900px;
    margin: 0 auto;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}

.iat-cat-text {
    font-size: 24px;
    margin-top: 100px
}

.iat-stim-text {
    font-weight: bold;
    width: 900px;
    font-size: 24px;
    margin-top: 100px
}

.iat_feedback {
    font-size: 42px;
}

.iat_leftcat {
    font-weight: bold;
    color: #238bdb;
}
.iat_rightcat {
    font-weight: bold;
    color: #b1389d;
}

/* Working Memory */
.center-fit {
    width:70%;
    height:auto;
    overflow:hidden;
    display:block;
    margin: auto;
}

.WMT_instr {
    font-size: 26px;
}
.WMT_feedback {
    font-size: 42px;
}


/* Questionnaire */
.q_title {
    font-size: 24px;
}

.q_para {
    font-weight: bold;
    text-align: center;
}

.q_keys_text {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.q_keys_word {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

label.jspsych-survey-likert-statement {
    display: block;
    font-size: 16px;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
}

ul.jspsych-survey-likert-opts {
    list-style: none;
    width: 500px;
    margin: auto;
    padding: 0 0 10px;
    display: block;
    font-size: 14px;
    line-height: 1.1em;
}